# Database Configuration
POSTGRES_DB=customer_service_management_system
POSTGRES_USER=cs_user
POSTGRES_PASSWORD=cs_pass
POSTGRES_PORT=5433
POSTGRES_HOST=localhost
POSTGRES_SCHEMA=public

# Database URL
DATABASE_URL=postgres://cs_user:cs_pass@localhost:5433/customer_service_management_system

# App Configuration
APP_NAME=customer-service-management-system-backend
APP_PORT=3002
APP_HOST=localhost
NODE_ENV=development
PROTOCOL=http
UPLOADED_FILES_DESTINATION=public
TZ=Asia/Baghdad

# URLs
API_BASE_URL=http://localhost:3002

# JWT Configuration
JWT_SECRET=GENERATE_YOUR_OWN_JWT_SECRET
JWT_EXPIRATION_DURATION=1d

# PgAdmin Configuration
PGADMIN_EMAIL=admin@example.com
PGADMIN_PASSWORD=admin123

# Mail Configuration
MAIL_USER="mustafa.ahmed@elryan.com"
MAIL_APP_PASSWORD="XXXXXXXXXXX"
